{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="container authorization_box">
<link rel="stylesheet" href ="{% static 'users/css/authorization.css' %}">
<h2 class="centered">Sign up with Github</h2>
<h6>
	It will be used to extract your code from public repositories.
	If you don't have any projects uploaded on github, you can
	see other code, but can't review or get reviews :-(
</h6>
<a href="{% url 'social:begin' 'github' %}">
<img src="{% static 'img/GitHub_Mark.png' %}" alt='...' class="github_icon">
</a>
</div>
 {% endblock %}